.blockForm{
    background: url("../img/pic.png") no-repeat center center;
    background-size: cover;
    padding-bottom: 110px;
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(2, 540px);
    gap: 134px;
    justify-content: space-evenly;
    margin-top: 75px;
    margin-bottom: 75px;
    div { 
        display: grid;
        gap: 20px;  
        h1{
            font: {
                family: 'Rising Sun';
                weight: 600;
                size: 54px;
            }
        }
        p{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }  
        }
    }
    form{
        display: grid;
        gap: 18px;
        grid-template-columns: 1fr 1fr 0.5fr 1.5fr; 
        grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr; 
        grid-auto-flow: row;
        input{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }
            color: $colorGrayLight;
            border: 1px solid $colorGrayLight2;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            grid-column: span 2;
        }
        .details{
            grid-column: span 4;
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }
            color: $colorGrayLight;
            border: 1px solid $colorGrayLight2;
            border: 1px solid $colorGrayLight2;
            padding-left: 15px;
            padding-top: 10px;
            resize: none;
        }
        p{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 12px;
            }
            grid-column: span 3;
            color: $colorGrayLight;
        }
        .redButton{
            @extend %buttons;
            justify-self: end;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}   
