.blockForm{
    background: url("../img/pic.png") no-repeat center center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: 75px;
    div:first-child { 
        display: flex;
        gap: 20px;  
        flex-direction: column;
        h1{
            margin-bottom: 0px;
            font: {
                family: 'Rising Sun';
                weight: 600;
                size: 54px;
            }
        }
        p{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }  
            margin-bottom: 0;
        }
    }
    form{
        display: flex;
        flex-flow: column wrap;
        width: 500px;
        gap: 18px;
        flex-direction: row;
        // display: grid;
        // gap: 18px;
        // grid-template-columns: repeat(2, 250px); 
        // grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr; 
        // grid-auto-flow: row;
        input{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }
            text-overflow: $colorGrayLight2;
            border: 1px solid $colorGrayLight2;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 7px;
            flex-grow: 1;
        }
        .details{
            font: {
                family: 'Rising Sun';
                weight: 500;
                size: 18px;
            }
            border: 1px solid $colorGrayLight2;
            padding-left: 15px;
            padding-top: 10px;
            padding-right: 7px;
            resize: none;
            flex-grow: 2;
        }
        .formBtn{
            order: 4;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 30px;
            grid-column: span 2;
            p{
                font: {
                    family: 'Rising Sun';
                    weight: 500;
                    size: 12px;
                }
                margin-bottom: 0;
                color: $colorGrayLight;
            }
            .redButton{
                @extend %buttons;
                padding-left: 40px;
                padding-right: 40px;
            }
        }    
    }
}  


.row>* {
    padding-right: 0;
    padding-left: 0;
}