@font-face {
    font-family: 'Rising Sun';
    src: url(./fonts/RisingSun/RisingSun-Medium.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(./fonts/Manrope/Manrope.ttf);
}

%fontSizeTitle1 {
    font-size: 54px;
}
%fontSizeTitle2 {
    font-size: 42px;
}
%fontSizeSubtitle1 {
    font-size: 32px;
}
%fontSizeSubtitle2 {
    font-size: 26px;
}
%fontSizeSubtitle3 {
    font-size: 24px;
}
%fontSizeText1 {
    font-size: 18px;
}
%fontSizeText2 {
    font-size: 12px;
}

%fontRising700 {
    font: {
        family: 'Rising Sun';
        weight: 700;
    }
}
%fontRising600 {
    font: {
        family: 'Rising Sun';
        weight: 600;
    }
}
%fontRising500 {
    font: {
        family: 'Rising Sun';
        weight: 500;
    }
}
%fontRising400 {
    font: {
        family: 'Rising Sun';
        weight: 400;
    }
}
%fontManrope600{
    font: {
        family: 'Manrope';
        weight: 600;
        
    }
}
