footer{
    padding-top: 75px;
}
.footerBlocks{
    display: flex;
    gap: 120px;
    justify-content: space-around;
    .footContacts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 150px;

        div:first-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    }
    .footInf{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1{
        font: {
            family: 'Rising Sun';
            weight: 600;
            size: 42px;
            margin-bottom: 0px;
        }
    }
    h2{
        font: {
            family: 'Rising Sun';
            weight: 500;
            size: 32px;
            margin-bottom: 0px;
        }
    }
    .redButton{
        @extend %buttons;
    }
    h3{
        font: {
            family: 'Rising Sun';
            weight: 500;
            size: 24px;
            margin-bottom: 0px;
        }
    }
    p{
        font: {
            family: 'Rising Sun';
            size: 18px;
            weight: 400;
            margin-bottom: 0px;
        }
        color: $colorGrayLight2;
    }
}

.contacts{
    display: grid;
    grid-template-columns:306px;
    grid-template-rows: repeat(4, auto);
    gap: 16px;
    justify-items: start;
}
.contactsBtn a{
    background: none;
    border: none;
    cursor: pointer;
}
.contactsBtn{
    grid-template-columns:repeat(2, auto);
    display: grid;
    gap: 20px;
}
.footerBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
h1, h2, h3, p {
    margin-bottom: 0;
}