footer{
    padding-top: 75px;
    display: grid;
    grid-template-columns: 462px 306px;
    grid-template-rows: 193px ;
    gap: 162px;
    justify-content: center;
    div:first-child{
        display: grid;
        gap: 30px;
        justify-items: start;
    }
    .footInf{
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1{
        font: {
            family: 'Rising Sun';
            weight: 600;
            size: 42px;
        }
    }
    h2{
        font: {
            family: 'Rising Sun';
            weight: 500;
            size: 32px;
        }
    }
    .redButton{
        @extend %buttons;
    }
    h3{
        font: {
            family: 'Rising Sun';
            weight: 500;
            size: 24px;
        }
    }
    p{
        font: {
            family: 'Rising Sun';
            size: 18px;
            weight: 400;
        }
        color: $colorGrayLight2;
    }
}

.contacts{
    display: grid;
    grid-template-columns:306px;
    grid-template-rows: repeat(4, auto);
    gap: 16px;
    justify-items: start;
}
.contactsBtn button{
    background: none;
    border: none;
    cursor: pointer;
}
.contactsBtn{
    grid-template-columns:repeat(2, auto);
    display: grid;
    gap: 20px;
}