.partners{
    padding: 75px 0px;
}
.partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    div{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 180px;
        img:first-child{
            width: 288px;
            height: 58px;
        }
        img:last-child{
            width: 79px;
            height: 58px;
        }
    }
}