$indent: 16px;
$indent2: 64px;
$indent3: 150px;



%buttons {
    border: 4px solid $colorRed;
    background-color: $colorWhite;
    font: {
        family: 'Rising Sun';
        weight: 700;
        size: 18px;
    }
    color: $colorRed;
    padding: 6px 16px 6px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

