@font-face {
  font-family: "Rising Sun";
  src: url(./fonts/RisingSun/RisingSun-Medium.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope/Manrope.ttf);
}
.blockForm form .formBtn .redButton, footer .redButton, .quests .redButtonBlock .redButton {
  border: 4px solid #FF4A40;
  background-color: #ffffff;
  font-family: "Rising Sun";
  font-weight: 700;
  font-size: 18px;
  color: #FF4A40;
  padding: 6px 16px 6px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rising Sun";
}

.title {
  font-weight: 700;
  font-size: 54px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.quests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 85px;
  padding: 75px 60px 75px 60px;
}
.quests .redButtonBlock {
  display: flex;
  justify-content: center;
}
.accordion {
  --bs-accordion-btn-padding-x: 0px;
  --bs-accordion-border-color: black;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-active-color: black;
  --bs-accordion-btn-icon-width: 50px;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.543 23.5H36.4596' stroke='%23FF4A40' stroke-width='3.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.5 11.542V35.4587' stroke='%23FF4A40' stroke-width='3.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.543 23.5H36.4596' stroke='%231F1F1F' stroke-width='3.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.accordion .accordion-body {
  display: flex;
  justify-content: flex-start;
  width: 55vw;
}
.accordion button {
  font-family: "Rising Sun";
  font-weight: 600;
  font-size: 26px;
}
.accordion ul {
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.accordion ul li {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 18px;
}
.accordion ul li span {
  font-family: "Rising Sun";
  font-weight: 600;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  gap: 80px;
}
.partner div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 180px;
}
.partner div img:first-child {
  width: 288px;
  height: 58px;
}
.partner div img:last-child {
  width: 79px;
  height: 58px;
}

footer {
  padding-top: 75px;
  display: flex;
  gap: 120px;
  justify-content: space-around;
}
footer .footContacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}
footer .footContacts div:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
footer .footInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer h1 {
  font-family: "Rising Sun";
  font-weight: 600;
  font-size: 42px;
  font-margin-bottom: 0px;
}
footer h2 {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 32px;
  font-margin-bottom: 0px;
}
footer h3 {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 24px;
  font-margin-bottom: 0px;
}
footer p {
  font-family: "Rising Sun";
  font-size: 18px;
  font-weight: 400;
  font-margin-bottom: 0px;
  color: #999999;
}

.contacts {
  display: grid;
  grid-template-columns: 306px;
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  justify-items: start;
}

.contactsBtn a {
  background: none;
  border: none;
  cursor: pointer;
}

.contactsBtn {
  grid-template-columns: repeat(2, auto);
  display: grid;
  gap: 20px;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

h1, h2, h3, p {
  margin-bottom: 0;
}

.blockForms {
  padding-top: 75px;
  padding-bottom: 75px;
}

.imgBack {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.blockForm {
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockForm div:first-child {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.blockForm div:first-child h1 {
  margin-bottom: 0px;
  font-family: "Rising Sun";
  font-weight: 600;
  font-size: 54px;
}
.blockForm div:first-child p {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}
.blockForm form {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  gap: 30px;
  flex-direction: row;
}
.blockForm form input {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #c6c6c6;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 7px;
  flex-grow: 1;
}
.blockForm form input::-moz-placeholder {
  color: #939393;
}
.blockForm form input::placeholder {
  color: #939393;
}
.blockForm form .details {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #c6c6c6;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 7px;
  resize: none;
  flex-grow: 2;
}
.blockForm form .details::-moz-placeholder {
  color: #939393;
}
.blockForm form .details::placeholder {
  color: #939393;
}
.blockForm form .formBtn {
  order: 4;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  grid-column: span 2;
}
.blockForm form .formBtn p {
  font-family: "Rising Sun";
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
  color: #939393;
}
.blockForm form .formBtn .redButton {
  padding-left: 40px;
  padding-right: 40px;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}/*# sourceMappingURL=index.css.map */